h1 a, h2 a {
    color: #6f42c1;
}

a {
    text-decoration: none !important;
}
a:hover {
    color: #512b97;
}

header {
    width: 100%;
    padding: 24px 16px;
    border-bottom: #6f42c1 2px solid;
    margin-bottom: 8px;
}

.post {
    padding: 8px 16px;
    margin: 0px 8px;
    border-radius: 8px;
}

.post_list {
    background: #e2e2e2;
}